page-home {
	
	
	ion-header{
		text-align: center;
		font-weight: bold;
	}
	ion-footer{
		text-align: center;
		font-weight: bold;

	}
	ion-content{
		background-color: #F6EFDD;
	}
	.toolbar-background {
		background-color: #FFFF63;
		font-weight: bold;
	}
	
}
